.App {
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 24, 51, 0.733);
  color: white;
}

.login-page {
  width: 100%;
  height: 100%;
  padding: 20px 33% 20px 33%;
}

.signup-page {
  height: 100%;
  align-content: center;
  margin: 0px 20% 0px 20%;
  padding: 10px 30px 10px 30px;
  background-color: white;
  color: black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  overflow-y: auto;
}

.player-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.healthbar {
  display: flex;
  width: 100%;
  height: 70px;
  /* background-color: red; */
  flex-flow: row wrap;
}

.healthbar-player {
  display: flex;
  background-color: rgb(89, 226, 35);
  border: 3px solid green;
  flex: 1;
  /* width: 40%; */
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.healthbar-enemy {
  display: flex;
  background-color: red;
  border: 3px solid darkred;
  flex: 1;
  /* width: 40%; */
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.battle-timer {
  display: flex;
  width: 120px;
  justify-content: center;
  /* align-items: center; */
  font-size: 46px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.battle-page-names-container {
  width: 100%;
  height: 60px;
  display: flex;
  font-size: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

.player-name {
  flex: 1;
  text-align: left;
  /* background-color: darkcyan; */
}

.enemy-name {
  flex: 1;
  /* background-color: darkblue; */
  text-align: right;
}

.battle-ui-container {
  display: flex;
  width: 100%;
  height: 290px;
}

.action-box {
  display: flex;
  flex: 1;
  height: 100%;
  border: 2px solid rgba(16, 36, 36, 0.7);
  background-color: darkcyan;
  flex-flow: row wrap;
}

.battle-log-box {
  width: 370px;
  height: 100%;
  background-color: rgba(7, 42, 51, 0.473);
  border: 1px solid rgb(16, 36, 36);
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 5px 10px 0px 20px;
}

.battle-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
